src/main/mule/countrywise-covid-data-impl.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="countrywise-covid-data-implFlow" doc:id="93827c0a-477d-4ba3-99c5-563f93d84f44" >
		<db:bulk-insert doc:name="Bulk insert" doc:id="c04f5587-b8be-43a2-86b7-db8792af1e08" config-ref="Database_Config">
			<db:bulk-input-parameters ><![CDATA[#[output application/java --- payload]]]></db:bulk-input-parameters>
			<db:sql ><![CDATA[INSERT INTO countrywiseCovidData(dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryTerritoryCode,popData2019,continentExp,cumulative14DCasesPer100000) VALUES(:dateRep,:day,:month,:year,:cases,:deaths,:countriesAndTerritories,:geoId,:countryterritoryCode,:popData2019,:continentExp,:cumulative14DCasesPer100000)]]></db:sql>
		</db:bulk-insert>
		<logger level="INFO" doc:name="Logger" doc:id="eca5002f-e2db-4aec-95fd-ac862667f6f0" />
		<ee:transform doc:name="Transform Message" doc:id="98dc1d68-9257-4fbd-adfe-0852426beccd" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message: "Data Inserted Successfully"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
